{% extends "map/base.html" %}

{% block navbar %}
	<li id="sidebar-nav-li">
		<a href="/map/"><i class="fas fa-map"></i><br>Карта поcівів</a>
	</li>
{% endblock %}

{% block pageContent %}
	<div class="row">
		<div class="col"></div>
		<div class="col-8">
			<div class="window-block">
				<div class="window-block-head">
					<p>Журнал обліку культур</p>
				</div>
				<div class="window-block-body">
					<div class="table-container">
						<table>
							<thead>
								<tr>
									<th>Назва</th><th>Колір</th><th>Дія</th>
								</tr>
							</thead>
							<tbody>
								{% for culture in cultures %}
									<tr>
										<td>
											<p>{{ culture.name }}</p>	
										</td>
										<td>
											<p><i class="fas fa-square-full" style="color: {{ culture.color }};"></i> 
										</td>
										<td>
											<a href="{% url 'map:culture_edit' culture.id %}"><i class="fas fa-edit"></i> Редагувати</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<center>
						<button type="submit" class="co-button" >
							<i class="fas fa-plus"></i>
							<a href="/map/new_culture/">Додати нову культуру</a>
						</button>
					</center>
				</div>
			</div>
		</div>
		<div class="col"></div>
	</div>
{% endblock %}	

{% block loadscript %}
	{% load static %}
	<script type="text/javascript" src="{% static 'map/js/cultures.js' %}"></script>
{% endblock %}
