{% extends "map/base.html" %}

{% block pageContent %}
	<div class="row">
		<div class="col-4 window-block">
			<p>Журнал обліку полів</p>
			<table>
				<tr>
					<th>Дата посіву</th>
					<th>Культура</th>
					<th>Площа</th>
				</tr>
				{% for seed in seeds %}
					<tr>
						<td>
							<a href="{% url 'map:detail' seed.id %}">{{ seed.seedDate }}</a>	
						</td>
						<td>
							<p href="{% url 'map:detail' seed.id %}"><i class="fas fa-square-full" style="color: {{ seed.culture.color }};"></i> {{seed.culture }}</p>	

						</td>
						<td>
							<p href="{% url 'map:detail' seed.id %}">{{ seed.field.square }} м2</p>	
						</td>
					</tr>
				{% endfor %}
			</table>
			
			{% block detail %}
			{% endblock %}
		</div>

		<div class="col-7">
			<div class="map-window-block">
				<p>Карта полів</p>
				<div id="map"></div>
			</div>
		</div>
	</div>
{% endblock %}	

{% block loadscript %}
	{% load static %}
	<script type="text/javascript" src="{% static 'js/map.js' %}"></script>
{% endblock %}
